.about-code-ui-andy {
  display: flex;
  flex-direction: column;
}

.my-name {
  margin-bottom: 2px !important;
  color: #95fffe;
  margin: 50px 0px 10px 0px;
  font-size: clamp(15px, 5vw, 17px);
  font-weight: 400;
  word-spacing: 4px;
}

.codeuiandy-name {
  margin: 0px;
  font-size: clamp(30px, 8vw, 60px);
  color: #7ef4fc;
}

.little-codeuiandy-quote {
  margin-top: 10px;
  margin-bottom: 15px;
  line-height: 30px;
  color: #7eccd6dc;
  font-size: 19px;
}

.about-code-ui-andy-bio {
  margin-top: 10px;
  margin-bottom: 15px;
  /* line-height: 30px; */
  color: #a8e1e8b7;
  font-size: 16px;
}

.email-code-ui-andy-button-header {
  margin-top: 60px;
  margin-bottom: 50px;
}

.email-code-ui-andy-button-header a {
  border: 1px solid #7ef4fc;
  padding: 15px;
  background-color: transparent;
  width: 180px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #7ef4fc;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
}

.aboutMeHeader {
  display: flex;
  align-items: center;
  color: #7ef4fc;
}

.aboutMeHeader .sectionCount {
  margin-right: 10px;
  letter-spacing: 3px;
  color: #5bdde2;
  display: block;
  position: relative;
}

.aboutMeHeader::after {
  content: "";
  width: 170px;
  height: 1px;
  background-color: #a8e1e8;
  margin-left: 12px;
}

.about-code-ui-sectionWrap {
  width: 60%;
}
.aboutmeSectionDiv {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 40px;
}
.a-photo-of-codeuiandy {
  width: 35%;
  height: 350px;
  margin-top: 30px;
  display: block;
  position: relative;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  transition: all 200ms ease-in;
}

.a-photo-of-codeuiandy:hover {
}
.codeuiandy-image {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 6;
  transition: all 200ms ease-in;
  border-radius: 3px;
}

.codeuiandy-image :hover {
}
.codeuiandy-image-border {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #7ef4fc;
  display: block;
  position: absolute;

  left: -25px;
  top: -25px;
  border-radius: 3px;
  transition: all 200ms ease-in;
}
.animatate-codeuiandy-img-border {
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid #7ef4fc;
  display: block;
  position: absolute;
  z-index: 3;
  left: 10px;
  top: 10px;
  border-radius: 3px;
  transition: all 300ms ease-in;
}
.moreInfoAboutCodeuiandy section {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 27px;
  color: #a8e1e8b7;
  font-size: 16px;
}

.moreInfoAboutCodeuiandy h4 {
  color: #7ef4fc;
  font-size: 14px;
  margin-top: 25px;
  word-spacing: 4px;
}

.technologyIUse {
  display: flex;
}
.technologyIUse ul {
  margin-right: 60px;
  margin-top: 25px;
  list-style-type: none;
}

.technologyIUse ul li {
  margin-bottom: 7px;
  color: #a8e1e8b7;
  font-size: 12px;
}
.codeuiandy-youtube-header {
  text-align: center;
  color: #7ef4fc;
  margin-bottom: 20px;
}
.codeuiandy-youtube-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
}

.codeuiandy-youtube-header-wrapper {
  text-align: center;
}
.codeuiandy-youtube-body {
  margin-top: 20px;
}
.codeuiandy-youtube-thumbnails-wrapper {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}
.codeuiandy-youtube-thumbnail {
  width: auto;
  background-color: #031314;
  border: 1px solid #7ef4fc;
  height: 300px;
}

.codeuiandy-youtube-yhumbnail {
  width: 100%;
  height: 100%;
}

.codeuiandy-projects {
  margin-top: 70px;
  margin-bottom: 20px;
}

.projectsContainer {
  margin-top: 30px;
  width: 100%;
  height: 500px;
}

.my-project-img {
  /* width: 45%; */
  height: 350px;
  overflow: hidden;
}
.my-project-img img {
  width: 100%;
  height: 100%;
}

.trigerSectionGsap {
  display: flex;
  flex-direction: column;
}

.overlaytext-p-container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlaytext-p-container-inn {
  position: absolute;
  width: 60%;
  height: 260px;
  background-color: #333646;
  -webkit-filter: drop-shadow(4px 12px 7px grey);
  filter: drop-shadow(4px 12px 7px grey);
  top: 50px;
  z-index: 50000;
  border-radius: 5px;
  padding: 10px;
  border: 1.6px solid #7ef4fc;
  outline: 0.5px solid #7ef4fc;
  overflow: hidden;
}

.myProjectName {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.myProjectName h1 {
  color: #95fffdc7;
  font-size: 16px;
  word-spacing: 4px;
}
.aboutProject {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 100%;
}
.aboutProject p {
  width: 90%;
  line-height: 20px;
  font-size: 14px;
  color: #a8e1e8b7;
}
.projectTechUsed {
  display: flex;
  margin-top: 12px;
  justify-content: center;
  align-items: center;
}
.projectTechUsed span {
  margin-right: 10px;
  font-size: 12px;
  color: #95fffdc7;
}

.projectActions {
  margin-left: 12px;
  position: absolute;
  right: 0;
  margin-right: 30px;
  margin-top: 11px;
}

.projectActions i {
  margin-right: 10px;
  color: #7ef4fc;
  font-size: 20px;
}

.viewAllProject {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #7ef4fc;
  margin-top: 25px;
}
.inWl::after {
  width: 290px;
}
.viewAllProject::before {
  content: "";
  width: 290px;
  height: 1px;
  background-color: #a8e1e8;
  margin-right: 12px;
}

.viewAllProject a {
  color: #7ef4fc;
  text-decoration: none;
  font-size: 18px;
}

.viewAllProject i {
  font-size: 20px;
  margin-left: 10px;
}
