body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: regularFont !important;
}

@font-face {
  font-family: boldFont;
  src: url(./assets/font/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: regularFont;
  src: url(./assets/font/Poppins/Poppins-Regular.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: boldFont !important;
}

span,
ul,
li,
p,
section {
  font-family: regularFont !important;
}
