.navbar-wrap {
  background-color: #252734;
  height: 70px;
  width: 100vw;

  -webkit-filter: drop-shadow(5px 2px 5px #46495a);

  filter: drop-shadow(5px 2px 5px #46495a);
}

.layout-wrap {
  display: flex;
  background-color: #a8e1e8;
  flex-direction: column;
  overflow: hidden;
}

.main-container {
  height: calc(100vh - 55px);
  display: flex;
}

.sidebar {
  width: 170px;
  height: calc(100vh - 55px);
  background-color: #333646;
}

.app-container-children {
  overflow-y: scroll;
  width: calc(100vw - 170px);
  padding-top: 20px;
  padding-right: 160px;
  background-color: #333646;
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container-children::-webkit-scrollbar {
  width: 8px;
}

.app-container-children::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 3px solid #a8e1e8;
}

.moveSideBarContentBottom {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-vr-hr {
  width: 1px;
  height: 90px;
  background-color: #a8e1e8;
}

.sidebar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  flex-direction: column;
}

.conect-with-codeuiandy {
  display: flex;
  flex-direction: column;
}

.conect-with-codeuiandy span {
  margin-bottom: 25px;
}

.conect-with-codeuiandy span i {
  color: #a8e1e8;
  font-size: 22px;
  cursor: pointer;
  transition: all 200ms ease;
}

.conect-with-codeuiandy span i:hover {
  transform: translateY(-5px) scale(1.1);
  color: #95fffe;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.logo-wrap {
  margin-right: auto;
  width: 50px;
  height: 50px;
  margin-left: 60px;
}

.logo-wrap img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 2px;
  padding: 2px;
  border: 1.4px solid #a8e1e8;
}

.navbar-links {
  margin-top: 19px;
  margin-right: 60px;
  color: #a8e1e8;
}

.navbar-links span {
  margin-right: 10px;
}

.codeuiand-email-container {
  position: absolute;
  color: #a8e1e8;
  bottom: 0;
  right: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
  flex-direction: column;
}
.codeuiandyEmail-us-flex {
  display: flex;
  flex-direction: column;
}

.e-codeuiandy {
  transform: rotate(90deg) translateY(110px) translateX(-110px);
}

.e-codeuiandy a {
  font-size: 13px;
  letter-spacing: 3px;
  color: #a8e1e8;
  text-decoration: none;
  transition: all 200ms ease;
}

.e-codeuiandy a:hover {
  transform: translateY(-5px) scale(1.1);
  color: #95fffe;
}
.codeuiandy-nav {
  display: flex;
}
.codeuiandy-nav-2 {
  color: #a8e1e8;
  padding: 10px;
  font-size: 12px;
}
.codeuiandy-nav li {
  margin-right: 20px;
  list-style: none;
  font-weight: 400;
}
.codeuiandy-nav-no {
  color: #95fffe;
  margin-right: 1px !important;
}
.codeuiandy-nav li a {
  text-decoration: none;
  color: #a8e1e8;
  padding: 10px;
  font-size: 12px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.resume-codeuiandy {
  border: 1px solid #a8e1e8;
  color: #a8e1e8;
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  /* margin-bottom: 30px; */
}
